<form class="class-control" novalidate (ngSubmit)='submit()' [formGroup]="myForm">
    <mat-form-field class="example-full-width">
        <input matInput placeholder=" Email " name='email' formControlName='userEmail'>
        <div *ngIf="myForm.controls['userEmail'].invalid && myForm.controls['userEmail'].touched" class='invalid-email'>
            Не верно указан Email
        </div>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Enter your password" [type]="'password'" maxlength='10'
            formControlName='userPassword'>
        <div *ngIf="myForm.controls['userPassword'].invalid && myForm.controls['userPassword'].touched"
            class='invalid-email'>
            Enter yuor password
        </div>
    </mat-form-field>
    <button mat-stroked-button color="primary" [disabled]="myForm.invalid" type='submit'>Primary</button>
</form>
<app-registration></app-registration>