div {
  display: flex;
  background-color: black;
  justify-content: space-around;
  transition: 3s;

  .logo-mechanikus {
    display: none;
    transition: 3s;
  }

  .aquila {
    width: 10%;
    height: auto;
    background-repeat: no-repeat;
  }

  span {
    display: flex;
    justify-content: center;
    flex-direction: column;

    p {
      color: white;
      font-size: 80%;
      font-style: italic;
      font-family: Apple Chancery, cursive;
    }
  }
}

.red-topic {
  display: flex;
  background-color: #8b0000;
  flex-direction: row-reverse;
  justify-content: space-between;
  transition: 3s;

  .logo-mechanikus {
    flex:1;
    display: block;
    height: auto;
    width: 54%;
    transition: 3s;
  }

  .aquila {
    transition: 3s;
    display: none;
  }

  button {
    height: 200%;
    border-radius: 30%;
    color: red;
    background-color: black;
    transition: 3s;
    font-family: Courier, monospace;
  }
  button:hover {
    width: 80px;
  }

  span {
    flex:2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .user-email {
      border-bottom: 1px solid black;
    }

    p {
      color: black;
      font-size: 110%;
      font-family: Courier, monospace;
    }
  }
}
